In [0]:
drop table employee;
create table employee
(
	id 			int,
	name 		varchar(100),
	dept 		varchar(100),
	salary 		int
);
insert into employee values(1, 'Alexander', 'Admin', 6500);
insert into employee values(2, 'Leo', 'Finance', 7000);
insert into employee values(3, 'Robin', 'IT', 2000);    
insert into employee values(4, 'Ali', 'IT', 4000);
insert into employee values(5, 'Maria', 'IT', 6000);
insert into employee values(6, 'Alice', 'Admin', 5000);
insert into employee values(7, 'Sebastian', 'HR', 3000);
insert into employee values(8, 'Emma', 'Finance', 4000);
insert into employee values(9, 'John', 'HR', 4500);
insert into employee values(10, 'Kabir', 'IT', 8000);

In [0]:
select * from employee;

In [0]:
alter table employee add column incentive int;

In [0]:
update employee set incentive=500 where incentive is null;

In [0]:
--Operators--
select (salary+incentive)as monthly_income from employee;
select (salary-incentive)as less_income from employee;
select (salary/10)as expesnes from employee;
select(salary*10)as yearly_bonus from employee;

select * from employee where dept='Admin' and salary=5000;
select * from employee where dept='Admin' or salary=5000;
select * from employee where not dept='Admin';

select * from employee where salary>5000;
select * from employee where salary<5000;
select * from employee where salary<>5000;
select * from employee where salary=5000;
select * from employee where salary<=5000;
select * from employee where salary>=5000;

select * from employee where salary between 4000 and 10000;
select * from employee where salary not between 4000 and 10000;

select * from employee where salary in (5000,10000);
select * from employee where salary not in (5000,10000);

select * from employee where name like '_a%';

In [0]:
--FUnctions--
select max(salary)as max_salary
       ,min(salary)as min_salary
       ,avg(salary)as avg_salary
       ,sum(salary)as total_salary
       ,count(salary)as salary_count
from employee;

select *,row_number()over(partition by dept order by id)as rn
        ,rank()over(partition by dept order by salary)as rnk
        ,dense_rank()over(partition by dept order by salary desc)as dnk
        ,lead(salary)over(partition by dept order by id)as next_salary
        ,lag(salary)over(partition by dept order by id)as pre_salary
        ,ntile(2)over(partition by dept order by salary)as range
from employee;

select *,upper(name)as upper_name
        ,lower(name)as lower_name
from employee;

select *,concat(upper(left(name,1)),lower(substring(name,2)))as full_name from employee;

In [0]:
--with clauses----
select dept,count(salary)as salary_count from employee where salary>3000 group by dept having count(salary)>1 order by dept;

In [0]:
--Joins--
CREATE TABLE table1 (
    EmployeeID INT,
    EmployeeName VARCHAR(50),
    DepartmentID INT
);
INSERT INTO table1 (EmployeeID, EmployeeName, DepartmentID) VALUES
(1, 'John', 101),
(2, 'Priya', 102),
(3, 'Rahul', 103),
(4, 'Sneha', 101),
(5, 'Arjun', 104);


CREATE TABLE table2 (
    DepartmentID INT,
    DepartmentName VARCHAR(50)
);
INSERT INTO table2 (DepartmentID, DepartmentName) VALUES
(101, 'HR'),
(102, 'IT'),
(103, 'Finance'),
(105, 'Marketing');

select c.* from table1 c inner join table2 o on c.DepartmentID=o.DepartmentID;
select c.* from table1 c left join table2 o on c.DepartmentID=o.DepartmentID;
select c.* from table1 c right join table2 o on c.DepartmentID=o.DepartmentID;
select c.* from table1 c full join table2 o on c.DepartmentID=o.DepartmentID;
select * from table1 natural join table2 ;
select * from table1 cross join table2;

In [0]:
--Finding the highest_salary ---
select * from (select *,dense_rank()over(partition by dept order by salary desc)as dnk from employee)as x where x.dnk=1;

--Finding the duplicate records--
delete from employee where id in (select id from (select *,row_number()over(partition by dept order by id)as rn from employee)as x where x.rn>1);

---create index---
create index empl_index on employee(dept);
---Truncate tbale--
truncate table employee;

---drop tbale--
drop table employee