In [0]:
#create data frame --
data=[(1,'kiran',3000),(2,'rahul',5000)]
schema=['id','name','salary']
df=spark.createDataFrame(data,schema)
df.show()

#Read_Files
df=spark.read.format('csv').option('header',True).option('delimiter',',').load('/Volumes/kirandb/sample_files/kiran/Department1.csv')
df.show()

df=spark.read.format('json').option('multiline',True).load('/Volumes/kirandb/sample_files/kiran/EMPJSON (1).json')
df.show()

df=spark.read.format('parquet').load('/Volumes/kirandb/sample_files/kiran/NYCTripSmall.parquet')
df.show()

#Write_Files
df1=df.write.option('delimiter',',').option('header',True).csv('/Volumes/kirandb/sample_files/kiran/Output.csv')
df2=df.write.option('multiline',True).json('/Volumes/kirandb/sample_files/kiran/Output.json')

In [0]:
#With column operations --
from pyspark.sql.types import cast 
from pyspark.sql.functions import col,lit

data=[(1,'kiran',3000),(2,'rahul',5000)]
schema=['id','name','salary']
df=spark.createDataFrame(data,schema)
df.show()

df1=df.withColumn('salary',df.salary.cast('int'))
df2=df.withColumn('salary',df.salary*2)
df2.show()
df3=df.withColumn('city',lit('pune'))
df3.show()
df4=df.withColumnRenamed('salary','new_salary')
df4.show()

In [0]:
#applying_functions
from pyspark.sql.functions import array,explode,array_contains,split
from pyspark.sql.types import ArrayType,StringType,IntegerType,StructType,StructField
data=[(1,'kiran',3000,['aws','sql'],'pani,puri','red','blue'),(2,'rahul',4000,['adf','pyspark'],'dahi,bhalla','green','orange')]
schema=StructType([StructField('id',IntegerType()),StructField('name',StringType()),StructField('salary',IntegerType()),StructField('skills',ArrayType(StringType())),StructField('food',StringType()),StructField('color1',StringType()),StructField('color2',StringType())])
df=spark.createDataFrame(data,schema)
df.show()

df1=df.withColumn('arrayccheck',array_contains('skills','aws'))
display(df1)

df2=df.withColumn('colors',array(df.color1,df.color2))
display(df2)

df3=df.withColumn('explodcol',explode(df.skills))
display(df3)

df4=df.withColumn('food',split(df.food,','))
df4.show()

In [0]:
#Drop and fill null
data=[(1,'kiran',3000,599,['aws','pyspark'],'vada,pav','pune','mumbai'),(None,'rahul',4000,499,['gcp','sql'],'chicken,burger','delhi','gurgao'),(3,None,6000,399,['adf','python'],'veg,chilli','chennai','pondi')]
schema=['id','name','salary','bonus','skills','food','city1','city2']
df=spark.createDataFrame(data,schema)
df.show()
df1=df.dropna()
df1.show()
df2=df.fillna('unknown')
df2.show()

In [0]:
#drop duplicates 
data=[(1,'kiran',3000,599,['aws','pyspark'],'vada,pav','pune','mumbai'),(None,'rahul',4000,499,['gcp','sql'],'chicken,burger','delhi','gurgao'),(3,None,6000,399,['adf','python'],'veg,chilli','chennai','pondi'),(1,'kiran',3000,599,['aws','pyspark'],'vada,pav','pune','mumbai'),(None,'rahul',4000,499,['gcp','sql'],'chicken,burger','delhi','gurgao'),(6,'Krish',6000,399,['adf','python'],'veg,chilli','chennai','pondi')]
schema=['id','name','salary','bonus','skills','food','city1','city2']
df=spark.createDataFrame(data,schema)
df.show()
df1=df.distinct().show()
df2=df.dropDuplicates().show()
df3=df.dropDuplicates(['salary']).show()

#Drop duplicates from multiple df's
data1=[(1,'kiran',3000,599,['aws','pyspark'],'vada,pav','pune','mumbai'),(None,'rahul',4000,499,['gcp','sql'],'chicken,burger','delhi','gurgao'),(3,None,6000,399,['adf','python'],'veg,chilli','chennai','pondi'),(1,'kiran',3000,599,['aws','pyspark'],'vada,pav','pune','mumbai'),(None,'rahul',4000,499,['gcp','sql'],'chicken,burger','delhi','gurgao'),(6,'Krish',6000,399,['adf','python'],'veg,chilli','chennai','pondi')]
schema1=['id','name','salary','bonus','skills','food','city1','city2']
df1=spark.createDataFrame(data1,schema1)
display(df1)
data2=[(1,'kiran',3000,599,['aws','pyspark'],'vada,pav','pune','mumbai'),(None,'rahul',4000,499,['gcp','sql'],'chicken,burger','delhi','gurgao'),(3,None,6000,399,['adf','python'],'veg,chilli','chennai','pondi')]
schema2=['id','name','salary','bonus','skills','food','city1','city2']
df2=spark.createDataFrame(data2,schema2)
display(df2)

newdf=df1.union(df2)
newdf.distinct().show()

In [0]:
#UDF-User defined functions-We write our own logic into the python function and register it with the sql which can be reused again on df is called UDF.

data=[(1,'kiran',2000,200),(2,'rahul',3000,300)]
schema=['id','name','salary','bonus']
df=spark.createDataFrame(data,schema)
df.show()

def totalpay(s,b):
    return (s+b)
df1=df.select('*',totalpay(df.salary,df.bonus).alias('pay'))
df1.show()

In [0]:
#createOrReplace_Tempview
data=[(1,'kiran',2000,200),(2,'rahul',3000,300)]
schema=['id','name','salary','bonus']
df=spark.createDataFrame(data,schema)
df.show()
df1=df.createOrReplaceTempView('emp')

In [0]:
%sql
select * from emp;

In [0]:
#Joines in pyspark

data1=[(1,'kiran','india'),(2,'novak','russia'),(3,'phleps','usa'),(4,'steve','aus'),(5,'dilshan','srilanka'),(6,'sherpa','nepal'),(7,'federe','swiss')]
schema1=['cid','cname','country']
df1=spark.createDataFrame(data1,schema1)
data2=[(11307,2,'2023-12-25'),(11308,5,'2023-12-20'),(11309,6,'2023-12-15'),(11310,8,'2023-12-10')]
schema2=['orderid','cid','orderdate']
df2=spark.createDataFrame(data2,schema2)
df1.show()
df2.show()
df1.join(df2,df1.cid==df2.cid,'inner').show()
df1.join(df2,df1.cid==df2.cid,'left').show()
df1.join(df2,df1.cid==df2.cid,'right').show()
df1.join(df2,df1.cid==df2.cid,'full').show()
df1.join(df2,df1.cid==df2.cid,'leftanti').show()
df1.join(df2,df1.cid==df2.cid,'leftsemi').show()

In [0]:
#Window_functions 
from pyspark.sql.functions import row_number,rank,dense_rank,lead,lag,ntile
from pyspark.sql.window import Window
window=Window.partitionBy('dept').orderBy('salary')
data=[(1,'kiran','male',3000,'IT'),(2,'rahul','male',5000,'IT'),(3,'rajendra','male',7000,'IT'),(4,'sushant','male',3500,'Mech'),(5,'akshay','male',11000,'Mech'),(6,'rohini','female',2500,'sales'),(7,'samiksha','female',5500,'sales'),(8,'sunita','female',1500,'Instru'),(9,'anita','female',9500,'Admin'),(10,'soni','female',10000,'Admin')]
schema=['id','name','gender','salary','dept']
df=spark.createDataFrame(data,schema)
df.show()
df1=df.withColumn('rn',row_number().over(window)).withColumn('rnk',rank().over(window)).withColumn('dnk',dense_rank().over(window)).withColumn('next_salary',lead('salary').over(window)).withColumn('pre_salary',lag('salary').over(window)).withColumn('range',ntile(2).over(window))
df1.show()

In [0]:
#Aggregate_Functions
from pyspark.sql.functions import *
data=[(1,'kiran','male',3000,'IT'),(2,'rahul','male',5000,'IT'),(3,'rajendra','male',7000,'IT'),(4,'sushant','male',3500,'Mech'),(5,'akshay','male',11000,'Mech'),(6,'rohini','female',2500,'sales'),(7,'samiksha','female',5500,'sales'),(8,'sunita','female',1500,'Instru'),(9,'anita','female',9500,'Admin'),(10,'soni','female',10000,'Admin')]
schema=['id','name','gender','salary','dept']
df=spark.createDataFrame(data,schema)
df.show()
df1=df.select(max(df.salary)).show()
df2=df.select(min(df.salary)).show()
df3=df.select(sum(df.salary)).show()
df4=df.select(mean(df.salary)).show()
df5=df.select(count(df.salary)).show()

In [0]:
#sort and orderBy
data=[(1,'kiran','male',3000,'IT'),(2,'rahul','male',5000,'IT'),(3,'rajendra','male',7000,'IT'),(4,'sushant','male',3500,'Mech'),(5,'akshay','male',11000,'Mech'),(6,'rohini','female',2500,'sales'),(7,'samiksha','female',5500,'sales'),(8,'sunita','female',1500,'Instru'),(9,'anita','female',9500,'Admin'),(10,'soni','female',10000,'Admin')]
schema=['id','name','gender','salary','dept']
df=spark.createDataFrame(data,schema)
df.show()
df1=df.sort(df.salary).show()
df2=df.orderBy(df.salary.desc()).show()

In [0]:
#Operations on dictionary
from pyspark.sql.functions import map_keys,map_values,explode
from pyspark.sql.types import StructField,StructType,ArrayType,MapType,StringType
data=[('kiran',{'hair':'black','eye':'blue'}),('rahul',{'hair':'grey','eye':'brown'})]
schema=StructType([StructField('name',StringType()),StructField('props',MapType(StringType(),StringType()))])
df=spark.createDataFrame(data,schema)
df.show(truncate=False)

df1=df.withColumn('eye',df.props.getItem('eye')).show()
df2=df.withColumn('keys',map_keys(df.props)).show()
df3=df.withColumn('values',map_values(df.props)).show()
df4=df.select('name','props',explode(df.props)).show()

df5=df.filter(df.name.like('_a%')).show()

In [0]:
#Pivot-It is rotating data from one column to multiple columns 
data=[(1,'kiran','male',3000,'IT'),(2,'rahul','male',5000,'IT'),(3,'rajendra','male',7000,'IT'),(4,'sushant','male',3500,'Mech'),(5,'akshay','male',11000,'Mech'),(6,'rohini','female',2500,'sales'),(7,'samiksha','female',5500,'sales'),(8,'sunita','female',1500,'Instru'),(9,'anita','female',9500,'Admin'),(10,'soni','female',10000,'Admin')]
schema=['id','name','gender','salary','dept']
df=spark.createDataFrame(data,schema)
df.show()

df1=df.groupBy('dept').pivot('gender').count().show()
df2=df.groupBy('dept').pivot('gender',['male']).count().show()

#Unpivot-it rotates the data from column into multiple rows 
from pyspark.sql.functions import expr
df1=df.select('dept',expr("stack(2,'male','m','female','f')as (gender,count)")).show()

#collect-collect-It retrieves all elements in the dataframe as an array for the row type of a driver node.
listRows=df.collect()
print(listRows)
print(listRows[0])
print(listRows[0][1])

In [0]:
#To use the transform function 
from pyspark.sql.functions import upper 
data=[(1,'kiran','male',3000,'IT'),(2,'rahul','male',5000,'IT'),(3,'rajendra','male',7000,'IT'),(4,'sushant','male',3500,'Mech'),(5,'akshay','male',11000,'Mech'),(6,'rohini','female',2500,'sales'),(7,'samiksha','female',5500,'sales'),(8,'sunita','female',1500,'Instru'),(9,'anita','female',9500,'Admin'),(10,'soni','female',10000,'Admin')]
schema=['id','name','gender','salary','dept']
df=spark.createDataFrame(data,schema)
df.show()

def upperthename(df):
    return df.withColumn('name',upper(df.name))
def doublethesalary(df):
    return df.withColumn('salary',df.salary*2)
df1=df.transform(upperthename).transform(doublethesalary)
df1.show()

In [0]:
#Map()-It is RDD transformation used to apply functions(lambda) on every element of rdd and returns the new rdd.
data=[('kiran','mane'),('rahul','shelke')]
rdd=spark.sparkContext.parallelize(data)
df=spark.createDataFrame(data,['fn','ln'])
rdd1=rdd.map(lambda x:x+(x[0]+' '+x[1],))
df1=rdd1.toDF(['fn','ln','fullname'])
df1.show()

In [0]:
#flatMap():It is the transformation operation that flattens the rdd/df..after applying the functions on every element and returns the new pyspark RDD.
#In df's it is used to flatten the array.

data=['kiran mane','Rahul shelke']
rdd=spark.sparkContext.parallelize(data)
for item in rdd.collect():
    print(item)

rdd1=rdd.flatMap(lambda x:x.split(' '))
for item in rdd1.collect():
    print(item)