In [0]:
drop table cars;

In [0]:
create table cars
(
	model_id		int,
	model_name		varchar(100),
	color			varchar(100),
	brand			varchar(100)
);
insert into cars values(1,'Leaf', 'Black', 'Nissan');
insert into cars values(2,'Leaf', 'Black', 'Nissan');
insert into cars values(3,'Model S', 'Black', 'Tesla');
insert into cars values(4,'Model X', 'White', 'Tesla');
insert into cars values(5,'Ioniq 5', 'Black', 'Hyundai');
insert into cars values(6,'Ioniq 5', 'Black', 'Hyundai');
insert into cars values(7,'Ioniq 6', 'White', 'Hyundai');

In [0]:
delete from cars where model_id in (select model_id from (select *,row_number()over(partition by model_name,brand order by model_id)as rn from cars)as x where rn>1);

In [0]:
with cte as (
  select model_id,row_number()over(partition by model_name,brand order by model_id)as rn from cars
)
delete from cars where model_id in (
  select model_id from cte where rn>1
)

In [0]:
drop table employee ;

In [0]:
create table employee
(
	id 			int,
	name 		varchar(100),
	dept 		varchar(100),
	salary 		int
);
insert into employee values(1, 'Alexander', 'Admin', 6500);
insert into employee values(2, 'Leo', 'Finance', 7000);
insert into employee values(3, 'Robin', 'IT', 2000);    
insert into employee values(4, 'Ali', 'IT', 4000);
insert into employee values(5, 'Maria', 'IT', 6000);
insert into employee values(6, 'Alice', 'Admin', 5000);
insert into employee values(7, 'Sebastian', 'HR', 3000);
insert into employee values(8, 'Emma', 'Finance', 4000);
insert into employee values(9, 'John', 'HR', 4500);
insert into employee values(10, 'Kabir', 'IT', 8000);

In [0]:
select * from (select *,dense_rank()over(partition by dept order by salary desc)as dnk from employee)as x where x.dnk=1;

In [0]:
with cte as (
  select *,dense_rank()over(partition by dept order by salary desc)as dnk from employee
  )
(
  select * from cte where dnk=1
)

In [0]:
CREATE TABLE sales (
    sale_id INT,
    product_id INT,
    sale_date DATE,
    sale_amount DECIMAL(10,2)
);
INSERT INTO sales (sale_id, product_id, sale_date, sale_amount) VALUES
(1, 101, '2025-10-05', 500),
(2, 101, '2025-10-20', 300),
(3, 101, '2025-11-10', 400),
(4, 101, '2025-12-01', 250),
(5, 102, '2025-10-15', 600),
(6, 102, '2025-11-18', 350),
(7, 102, '2025-12-22', 450),
(8, 102, '2025-12-28', 500);

In [0]:
select * from sales;

In [0]:
with cte as (
  select product_id,
  date_trunc('month',sale_date)as sale_month,
  sum(sale_amount)as monthly_total
  from sales
  where sale_date>=date_trunc('month',current_date - interval '3 months')
  and sale_date<date_trunc('month',current_date)
  group by product_id,date_trunc('month',sale_date)
)
select 
     product_id,
     sale_month,
     monthly_total,
     sum(monthly_total)over(partition by product_id order by sale_month rows between unbounded preceding and current row)as running_total
from cte
order by product_id,sale_month;

In [0]:
with cte as (
  select product_id,
  date_trunc('month',sale_date)as sale_month,
  sum(sale_amount)as monthly_sale
  from sales
  where sale_date>=date_trunc('month',current_date - interval '3 months')
  and sale_date<date_trunc('month',current_date)
  group by product_id,date_trunc('month',sale_date)
)
select 
    product_id,
    sale_month,
    monthly_sale,
    sum(monthly_sale)over(partition by product_id order by sale_month rows between unbounded preceding and current row)as runnning_total
from cte 
order by product_id,sale_month;

In [0]:
truncate table sales;

In [0]:
with cte as (
  select 
)